@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600display=swap");
@use "sass:math";
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-search1:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
  color: #fff;
}

._icon-check:before {
  content: "\e902";
}

._icon-heart:before {
  content: "\e903";
}

._icon-s-fb:before {
  content: "\e904";
  color: #fff;
}

._icon-shopping-bag:before {
  content: "\e905";
}

._icon-s-inst:before {
  content: "\e906";
  color: #fff;
}

._icon-search:before {
  content: "\e986";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

@use "sass:math";
.menu__link, .button-search {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.2rem;
  position: relative;
}

.menu__link::after, .button-search::after {
  content: "";
  height: 0.125rem;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #EB5757;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .menu__link:hover::after, .button-search:hover::after {
    width: 100%;
  }
}

.header {
  z-index: 20;
  background-color: #000000;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header_margin {
  margin-bottom: 1rem;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9rem 1fr;
      grid-template-columns: 9rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 20;
}

.header__nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}

.menu__icon {
  display: none;
}

@media (max-width: 47.9375em) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.9375em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 38, 42, 0.98);
    padding: 6.25rem 1.875rem 1.875rem 1.875rem;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 10;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 47.9375em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
  }
}

@media (any-hover: hover) {
  .menu__item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0rem, -1rem);
            transform: translate(0rem, -1rem);
    pointer-events: auto;
  }
  .menu__item:hover .menu__link::after {
    width: 100%;
  }
}

.menu__link {
  display: inline-block;
  color: #ffffff;
}

.menu__link_yellow {
  color: yellow;
}

.menu__link_red {
  color: #EB5757;
}

.menu__link:active {
  color: #EB5757;
}

.menu__sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.sub-menu__wrapper {
  -webkit-box-shadow: 0.625rem 0.625rem 1.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.625rem 0.625rem 1.5rem rgba(0, 0, 0, 0.25);
  padding: 2.375rem 2.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 1.25rem;
  position: relative;
  background-color: #ffffff;
}

.sub-menu__wrapper_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media (max-width: 47.9375em) {
  .sub-menu__wrapper_flex {
    padding: 1rem;
  }
}

@media (max-width: 47.9375em) {
  .sub-menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.sub-menu__column {
  position: relative;
  z-index: 5;
}

.sub-menu__title {
  line-height: 1.5;
  /* 27/18 */
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  font-weight: 500;
}

.sub-menu__title::after {
  content: "";
  display: block;
  background-color: #000000;
  height: 0.125rem;
  width: 100%;
}

.sub-menu__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.sub-menu__link {
  font-size: 0.875rem;
  line-height: 1.43;
  /* 20/14 */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration: underline;
  }
}

.sub-menu__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media (max-width: 47.9375em) {
  .sub-menu__image {
    display: none;
  }
}

.sub-menu__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.sub-menu__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(42%, #ffffff), color-stop(80%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 42%, rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0) 100%);
}

.button-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  color: #ffffff;
}

.button-search:active {
  color: #EB5757;
}

.button-search::before {
  width: 1rem;
  font-size: 1rem;
  height: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1rem;
          flex: 0 1 1rem;
}

.input {
  min-height: 3rem;
  width: 100%;
  border: 1.5px solid #000000;
  border-radius: 3px;
  padding: 0.5rem;
  display: inline-block;
}

.button_red {
  width: 8rem;
  background-color: #EB5757;
  border: 1.5px solid #000000;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  height: 3rem;
}

.button_red:hover {
  background-color: rgba(235, 87, 87, 0.6);
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (any-hover: hover) {
  body._pc .menu__item:hover .menu__sub {
    visibility: visible;
    opacity: 1;
    display: block;
    pointer-events: all;
  }
}

@media (any-hover: hover) and (max-width: 47.9375em) {
  body._pc .menu__item:hover .menu__sub {
    position: relative;
  }
}

body._pc .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body._touch .menu__list .menu__item._active .menu__sub {
  visibility: visible;
  opacity: 1;
  display: block;
  pointer-events: all;
}

@media (max-width: 47.9375em) {
  body._touch .menu__list .menu__item._active .menu__sub {
    position: relative;
    z-index: 5;
  }
}

body._touch .menu__list .menu__item._active .menu__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body._touch .menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 0.3rem;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-top: 0.625rem solid #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*="__container"] {
  max-width: 121.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.48;
  /* 37/25 */
  background-color: #ffffff;
}

body._lock {
  overflow: hidden;
}

.page {
  padding: 0 1.3125rem;
}

.page__section00 {
  position: relative;
  z-index: 1;
}

.page__section00_margin {
  margin-top: 7rem;
}

.page__section00_margin:not(:last-child) {
  margin-bottom: 2rem;
}

.page__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(11.25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  padding: 1.875rem 0.6875rem;
  gap: 2.1875rem;
  border: 2px solid #c4c4c4;
}

@media (max-width: 112.5em) {
  .page__list {
    gap: 1.5625rem;
  }
}

@media (max-width: 100em) {
  .page__list {
    gap: 0.9375rem;
  }
}

.section00 {
  position: relative;
}

.section00__title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.83;
  /* 68/24 */
  color: #000000;
  text-transform: uppercase;
  min-width: 23rem;
  min-height: auto;
  position: absolute;
  left: 40.5%;
  top: -0.9375rem;
  background-color: #ffffff;
  z-index: 2;
  text-align: center;
  -webkit-animation: translate8 1.4s ease forwards 1.4s;
          animation: translate8 1.4s ease forwards 1.4s;
  -webkit-transform: translate(0, -300%);
          transform: translate(0, -300%);
}

@media (max-width: 72.6875em) {
  .section00__title {
    left: 30%;
  }
}

@media (max-width: 55.3125em) {
  .section00__title {
    left: 20%;
  }
}

@media (max-width: 40em) {
  .section00__title {
    left: 10%;
    font-size: 1.25rem;
    min-width: 18.75rem;
  }
}

@media (max-width: 28.625em) {
  .section00__title {
    left: 7%;
    font-size: 1.25rem;
    min-width: 12.5rem;
  }
}

.list__item {
  position: relative;
  height: 8.8125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

@media (max-width: 90.625em) {
  .list__item {
    height: 7.5rem;
  }
}

@media (max-width: 53.9375em) {
  .list__item {
    height: 5rem;
  }
}

.list__item:nth-child(1) {
  -webkit-transform: translate(-150%, 0px);
          transform: translate(-150%, 0px);
  -webkit-animation: translate1 0.2s ease forwards;
          animation: translate1 0.2s ease forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.list__item:nth-child(2) {
  -webkit-transform: translate(-260%, 0px);
          transform: translate(-260%, 0px);
  -webkit-animation: translate2 0.2s ease forwards;
          animation: translate2 0.2s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.list__item:nth-child(3) {
  -webkit-transform: translate(-370%, 0px);
          transform: translate(-370%, 0px);
  -webkit-animation: translate3 0.2s ease forwards;
          animation: translate3 0.2s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.list__item:nth-child(4) {
  -webkit-transform: translate(-480%, 0px);
          transform: translate(-480%, 0px);
  -webkit-animation: translate4 0.2s ease forwards;
          animation: translate4 0.2s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.list__item:nth-child(5) {
  -webkit-transform: translate(-590%, 0px);
          transform: translate(-590%, 0px);
  -webkit-animation: translate5 0.2s ease forwards;
          animation: translate5 0.2s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.list__item:nth-child(6) {
  -webkit-transform: translate(-700%, 0px);
          transform: translate(-700%, 0px);
  -webkit-animation: translate6 0.2s ease forwards;
          animation: translate6 0.2s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.list__item:nth-child(7) {
  -webkit-transform: translate(-810%, 0px);
          transform: translate(-810%, 0px);
  -webkit-animation: translate7 0.2s ease forwards;
          animation: translate7 0.2s ease forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.list__item:hover {
  background-color: #f0f2f2;
}

.list__item.active {
  background-color: #f0f2f2;
}

@-webkit-keyframes translate1 {
  0% {
    -webkit-transform: translate(-150%, 0px);
            transform: translate(-150%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate1 {
  0% {
    -webkit-transform: translate(-150%, 0px);
            transform: translate(-150%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate2 {
  0% {
    -webkit-transform: translate(-260%, 0px);
            transform: translate(-260%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate2 {
  0% {
    -webkit-transform: translate(-260%, 0px);
            transform: translate(-260%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate3 {
  0% {
    -webkit-transform: translate(-370%, 0px);
            transform: translate(-370%, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}

@keyframes translate3 {
  0% {
    -webkit-transform: translate(-370%, 0px);
            transform: translate(-370%, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}

@-webkit-keyframes translate4 {
  0% {
    -webkit-transform: translate(-480%, 0px);
            transform: translate(-480%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate4 {
  0% {
    -webkit-transform: translate(-480%, 0px);
            transform: translate(-480%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate5 {
  0% {
    -webkit-transform: translate(-590%, 0px);
            transform: translate(-590%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate5 {
  0% {
    -webkit-transform: translate(-590%, 0px);
            transform: translate(-590%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate6 {
  0% {
    -webkit-transform: translate(-700%, 0px);
            transform: translate(-700%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate6 {
  0% {
    -webkit-transform: translate(-700%, 0px);
            transform: translate(-700%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate7 {
  0% {
    -webkit-transform: translate(-810%, 0px);
            transform: translate(-810%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes translate7 {
  0% {
    -webkit-transform: translate(-810%, 0px);
            transform: translate(-810%, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes translate8 {
  0% {
    -webkit-transform: translate(0, -300%);
            transform: translate(0, -300%);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes translate8 {
  0% {
    -webkit-transform: translate(0, -300%);
            transform: translate(0, -300%);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.section00__empty-space {
  position: relative;
  height: 1.25rem;
}

.section-zero_margin:not(:last-child) {
  margin-bottom: 2rem;
}

.section-zero__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.625rem;
}

@media (max-width: 54.125em) {
  .section-zero__body {
    gap: 1rem;
  }
}

@media (max-width: 35.625em) {
  .section-zero__body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.section-zero__pic {
  position: relative;
  overflow: hidden;
  padding-bottom: 130.8%;
  background-color: black;
}

.section-zero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-zero__img_01 {
  visibility: visible;
  opacity: 1;
  -webkit-animation: opacity01 15s infinite;
          animation: opacity01 15s infinite;
}

.section-zero__img_02 {
  opacity: 1;
  visibility: hidden;
  -webkit-animation: opacity01 15s infinite 5s;
          animation: opacity01 15s infinite 5s;
}

.section-zero__img_03 {
  opacity: 1;
  visibility: hidden;
  -webkit-animation: opacity01 15s infinite 10s;
          animation: opacity01 15s infinite 10s;
}

@-webkit-keyframes opacity01 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  8% {
    opacity: 1;
    visibility: visible;
  }
  25% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opacity01 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  8% {
    opacity: 1;
    visibility: visible;
  }
  25% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes opacity02 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opacity02 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes opacity03 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opacity03 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.page__section01 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-rows: 1fr;
  gap: 1.875rem;
}

@media (max-width: 74.5em) {
  .page__section01 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 46.5625em) {
  .page__section01 {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    row-gap: 1.5625rem;
    padding-bottom: 1.125rem;
  }
}

.section01_margin:not(:last-child) {
  margin-bottom: 1.875rem;
}

@media (max-width: 31.25em) {
  .section01_margin:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.block {
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  position: relative;
  width: 100%;
  min-height: 27.125rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.block._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.block:nth-child(1) {
  background-color: #F3F0EF;
}

.block:nth-child(2) {
  background-color: #E0DED3;
  grid-row: span 2;
}

@media (max-width: 46.5625em) {
  .block:nth-child(2) {
    grid-row: span 1;
  }
}

.block:nth-child(3) {
  background-color: #F7E0D5;
}

.block__pic {
  z-index: 0;
  height: 100%;
}

@media (max-width: 39.1875em) {
  .block__pic {
    z-index: 1;
    position: relative;
  }
}

.block__pic img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 39.1875em) {
  .block__pic img {
    position: relative;
    opacity: 0.5;
  }
}

.block__pic_01 {
  width: 48.48%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 448 / 434;
}

@media (max-width: 39.1875em) {
  .block__pic_01 {
    width: 100%;
    z-index: 0;
  }
}

.block__pic_01::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 239, 240, 0)), color-stop(11%, rgba(241, 240, 240, 0)), color-stop(31%, rgba(241, 240, 240, 0)), to(#f3f0ef));
  background: linear-gradient(90deg, rgba(241, 239, 240, 0) 0%, rgba(241, 240, 240, 0) 11%, rgba(241, 240, 240, 0) 31%, #f3f0ef 100%);
  z-index: 1;
}

.block__pic_02 {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 839 / 898;
  height: 100%;
  width: 90.8%;
}

@media (max-width: 39.1875em) {
  .block__pic_02 {
    width: 100%;
    z-index: 0;
  }
}

.block__pic_02::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: -webkit-gradient(linear, left top, right top, from(#e0ded3), color-stop(17%, rgba(224, 221, 213, 0)), color-stop(27%, rgba(224, 221, 213, 0)), to(rgba(224, 221, 213, 0)));
  background: linear-gradient(90deg, #e0ded3 0%, rgba(224, 221, 213, 0) 17%, rgba(224, 221, 213, 0) 27%, rgba(224, 221, 213, 0) 100%);
}

@media (max-width: 46.5625em) {
  .block__pic_02 img {
    -o-object-position: top;
       object-position: top;
  }
}

.block__pic_03 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60.28%;
  height: 100%;
  aspect-ratio: 557 / 434;
}

@media (max-width: 39.1875em) {
  .block__pic_03 {
    width: 100%;
    z-index: 0;
  }
}

.block__pic_03::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: -webkit-gradient(linear, left top, right top, from(#f7e0d5), color-stop(50%, rgba(243, 220, 210, 0)), color-stop(54%, rgba(243, 220, 210, 0)), to(rgba(243, 220, 210, 0)));
  background: linear-gradient(90deg, #f7e0d5 0%, rgba(243, 220, 210, 0) 50%, rgba(243, 220, 210, 0) 54%, rgba(243, 220, 210, 0) 100%);
  z-index: 1;
}

.block__body {
  max-width: 23.75rem;
  z-index: 1;
  padding-right: 0.625rem;
}

@media (max-width: 39.1875em) {
  .block__body {
    position: relative;
  }
}

.block__body_01 {
  position: absolute;
  top: 5.125rem;
  left: 53.13%;
}

.block__body_02 {
  position: absolute;
  top: 47.88%;
  left: 9.3%;
}

@media (max-width: 105.6875em) {
  .block__body_02 {
    left: 3%;
  }
}

@media (max-width: 46.5625em) {
  .block__body_02 {
    top: 10%;
    left: 8%;
  }
}

.block__body_03 {
  position: absolute;
  top: 7.1875rem;
  left: 10.17%;
}

@media (max-width: 95.5em) {
  .block__body_03 {
    top: 3.75rem;
    left: 7.5%;
  }
}

@media (max-width: 87.9375em) {
  .block__body_03 {
    top: 2.5rem;
    max-width: 15.625rem;
  }
}

@media (max-width: 74.5em) {
  .block__body_03 {
    top: 2.5rem;
    max-width: 310px;
  }
}

@media (max-width: 39.1875em) {
  .block__body {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 19.375rem;
  }
}

.block__title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.29;
  /* 62/48 */
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 46.5625em) {
  .block__title {
    font-size: 2.25rem;
  }
}

.block__title_big {
  font-size: 6rem;
  line-height: 1.15;
  /* 110/96 */
  color: #131313;
  z-index: 20;
}

@media (max-width: 46.5625em) {
  .block__title_big {
    font-size: 2.625rem;
  }
}

.block__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.block__sub-title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.68;
  /* 37/22 */
}

@media (max-width: 46.5625em) {
  .block__sub-title {
    font-size: 1.125rem;
  }
}

.block__sub-title:not(:last-child) {
  margin-bottom: 2.9375rem;
}

@media (max-width: 105.6875em) {
  .block__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.block__button, .section03__button, .section05__button {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.29;
  color: #000;
  text-transform: uppercase;
  min-width: 10.9375rem;
  min-height: 3.5rem;
  border: 2px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block__button:hover, .section03__button:hover, .section05__button:hover {
  background-color: black;
  color: #FFFFFF;
}

.block__button:not(:last-child), .section03__button:not(:last-child), .section05__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.block__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.875rem;
}

.page__section02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

@media (max-width: 54.125em) {
  .page__section02 {
    -webkit-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }
}

@media (max-width: 31.25em) {
  .page__section02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section02_margin:not(:last-child) {
  margin-bottom: 1.5rem;
}

.section02__left-side {
  padding-top: 1.125rem;
  padding-right: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.625rem;
          flex: 0 1 24.625rem;
  border-right: 1px solid #C4C4C4;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section02__left-side._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-width: 31.25em) {
  .section02__left-side {
    padding-top: 0;
    border-right: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.83;
  /* 68/24 */
  color: #000000;
}

.form__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

@media (max-width: 54.125em) {
  .form__title {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .form__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

@media (max-width: 54.125em) {
  .form__body {
    gap: 0.625rem;
  }
}

@media (max-width: 31.25em) {
  .form__body {
    row-gap: 1.25rem;
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

.form__line {
  position: relative;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.form__label {
  font-family: "Roboto",sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.83;
  color: #3F3F3F;
  text-transform: uppercase;
}

@media (max-width: 54.125em) {
  .form__label {
    line-height: 1.5;
    font-size: 0.75rem;
  }
}

.form__input:focus-visible + .form__label {
  outline: 1px solid black;
  border-radius: 5px;
}

.form__input:checked + .form__label {
  color: black;
}

.form__input:checked + .form__label::before {
  background: #000000 url("../img/icons/Vector 2.svg") center no-repeat;
}

.form__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
  margin-left: 1.125rem;
}

.form__label::before {
  content: "";
  position: absolute;
  top: 1.0625rem;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  border: 1px solid #3F3F3F;
  z-index: 10;
}

.section02__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 93.4375rem;
          flex: 0 1 93.4375rem;
}

.right-side {
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.right-side._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.right-side__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-auto-rows: 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 1.625rem;
          column-gap: 1.625rem;
}

@media (max-width: 54.125em) {
  .right-side__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    -webkit-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }
}

@media (max-width: 27.25em) {
  .right-side__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 0.875rem;
  }
}

.card {
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.card._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.card__pic {
  position: relative;
  overflow: hidden;
  padding-bottom: 130.8%;
}

.card__pic:not(:last-child) {
  margin-bottom: 0.875rem;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.card__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__category {
  font-family: "Oswald", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  color: #BDBDBD;
  text-transform: uppercase;
}

.card__text {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card__text:hover {
  text-decoration: underline;
}

.card__text:not(:last-child) {
  margin-bottom: 1.125rem;
}

@media (max-width: 27.25em) {
  .card__text:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 66.8125em) {
  .card__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.625rem;
  }
}

@media (max-width: 54.125em) {
  .card__price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__price:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card__price .new-price {
  font-size: 1.375rem;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.card__price .new-price_red {
  color: #EB5757;
}

.card__price .old-price {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #828282;
}

.right-side__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 9.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 61.75em) {
  .right-side__button {
    min-height: 6.25rem;
  }
}

@media (max-width: 28.75em) {
  .right-side__button {
    min-height: 5rem;
  }
}

.button {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.29;
  color: #828282;
  text-transform: uppercase;
  min-width: 8.75rem;
  min-height: 3.125rem;
  border: 2px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: #afa4a0;
  color: #000;
}

.button__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.875rem;
}

.page__section03 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 467px;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.page__section03._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-width: 35.5em) {
  .page__section03 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
}

.section03 {
  z-index: 1;
  background-color: #ddebf1;
}

.section03_margin:not(:last-child) {
  margin-bottom: 4.1875rem;
}

@media (max-width: 42.1875em) {
  .section03_margin:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.section03__pic {
  z-index: 0;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1210 / 457;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 63.02%;
          flex: 0 1 63.02%;
}

.section03__pic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ddebf1), color-stop(43%, #d3e5ee), color-stop(69%, rgba(200, 222, 236, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #ddebf1 0%, #d3e5ee 43%, rgba(200, 222, 236, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 76.0625em) {
  .section03__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 33.625em) {
  .section03__pic {
    display: none;
  }
}

.section03__pic__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section03__body {
  z-index: 2;
  position: absolute;
  top: 20.51%;
  left: 13.58%;
  max-width: 39.9375rem;
}

@media (max-width: 76.0625em) {
  .section03__body {
    left: 8%;
  }
}

@media (max-width: 52em) {
  .section03__body {
    max-width: 28.125rem;
  }
}

@media (max-width: 40.25em) {
  .section03__body {
    max-width: 25rem;
  }
}

@media (max-width: 35.5em) {
  .section03__body {
    max-width: 21.25rem;
    position: relative;
    padding: 1.25rem 0.625rem;
    width: 80%;
  }
}

.section03__decor {
  position: absolute;
  top: -1.25rem;
  left: 2.3125rem;
  width: 37.625rem;
  height: 6.28125rem;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

@media (max-width: 52em) {
  .section03__decor {
    width: 28.75rem;
  }
}

@media (max-width: 40.25em) {
  .section03__decor {
    width: 25rem;
    height: 4.375rem;
  }
}

@media (max-width: 35.5em) {
  .section03__decor {
    display: none;
  }
}

.section03__title, .section05__title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.28;
  /* 72/56 */
  text-transform: uppercase;
  color: #000000;
}

.section03__title:not(:last-child), .section05__title:not(:last-child) {
  margin-bottom: 1.0625rem;
}

@media (max-width: 52em) {
  .section03__title, .section05__title {
    font-size: 2.25rem;
  }
}

@media (max-width: 28.125em) {
  .section03__title, .section05__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 25em) {
  .section03__title, .section05__title {
    font-size: 1.5rem;
  }
}

.section03__text, .section05__text {
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.48;
  /* 37/25 */
  color: #000000;
}

.section03__text:not(:last-child), .section05__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (max-width: 28.125em) {
  .section03__text, .section05__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 25em) {
  .section03__text, .section05__text {
    font-size: 1rem;
  }
}

.sectio03__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.875rem;
}

.section04_margin:not(:last-child) {
  margin-bottom: 7.4375rem;
}

@media (max-width: 73.5em) {
  .section04_margin:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}

@media (max-width: 29.25em) {
  .section04_margin:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}

.section04__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 2.5rem;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section04__header._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.section04__header:not(:last-child) {
  margin-bottom: 1.625rem;
}

.section04__category, .footer__category {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.83;
  /* 68/24 */
  color: #000000;
}

.section04__buttons {
  width: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section04__button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #C4C4C4;
  background: url("../img/icons/Vector.svg") center no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section04__button:hover {
  background-color: rgba(130, 130, 130, 0.459);
}

.section04__button_right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section04__button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.25rem;
  height: 2.25rem;
}

.sectio04__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12.5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: 1fr;
  gap: 1.325rem;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sectio04__body._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.sectio04__body:not(:last-child) {
  margin-bottom: 4.25rem;
}

@media (max-width: 73.4375em) {
  .sectio04__body:not(:last-child) {
    margin-bottom: 2.375rem;
  }
}

.page__section05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.page__section05._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-width: 107.75em) {
  .page__section05 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 91.875em) {
  .page__section05 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 37.9375em) {
  .page__section05 {
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.section05_margin:not(:last-child) {
  margin-bottom: 5.125rem;
}

.section05__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section05__pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.21%;
          flex: 0 0 55.21%;
  position: relative;
  overflow: hidden;
  padding-bottom: 34.25%;
}

.section05__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.6%;
          flex: 0 0 37.6%;
  position: relative;
  padding-top: 1rem;
  padding-right: 1.25rem;
}

.section05__title:not(:last-child) {
  margin-bottom: 2.125rem;
}

@media (max-width: 107.75em) {
  .section05__title {
    font-size: 3rem;
  }
}

@media (max-width: 37.9375em) {
  .section05__title {
    padding-top: 1rem;
    font-size: 2.125rem;
  }
  .section05__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }
}

@media (max-width: 30.125em) {
  .section05__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 37.9375em) {
  .section05__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 37.9375em) {
  .section05__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.section05__decor {
  position: absolute;
  top: 0px;
  left: 0.875rem;
  width: 39.125rem;
  height: 7.15625rem;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

@media (max-width: 107.75em) {
  .section05__decor {
    width: 33.5rem;
    height: 6.28125rem;
  }
}

@media (max-width: 37.9375em) {
  .section05__decor {
    width: 90%;
    height: 0;
  }
}

.sectio05__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.875rem;
}

.page__footer {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
  background-color: #F8F9FB;
}

@media (max-width: 59.9375em) {
  .page__footer {
    padding-top: 1rem;
  }
}

@media (max-width: 41.875em) {
  .page__footer {
    padding-top: 0.625rem;
  }
}

.footer {
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.footer._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15.625rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: 1fr;
  gap: 1.875rem;
}

.footer__category:not(:last-child) {
  margin-bottom: 1.875rem;
}

@media (max-width: 59.9375em) {
  .footer__category:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 41.875em) {
  .footer__category:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 27.9375rem;
  padding: 1.5rem 1.5rem 0.4375rem 1.5rem;
  background-color: #FFFFFF;
}

@media (max-width: 37.625em) {
  .footer__box {
    min-height: auto;
  }
}

.box__category {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  color: #BDBDBD;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box__category:hover {
  text-decoration: underline;
}

.box__category:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.box__category:not(:last-child) {
  margin-bottom: 1rem;
}

.box__title {
  font-family: "Oswald", sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box__title:hover {
  text-decoration: underline;
}

.box__title:not(:last-child) {
  margin-bottom: 2rem;
}

@media (max-width: 59.9375em) {
  .box__title {
    font-size: 1.25rem;
  }
  .box__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 37.625em) {
  .box__title {
    font-size: 1.625rem;
  }
}

@media (max-width: 25.3125em) {
  .box__title {
    font-size: 1.25rem;
  }
}

.box__text {
  font-size: 1rem;
  line-height: 1.5;
  /* 24/16 */
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.box__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box__date {
  padding-top: 0.75rem;
  font-family: "Oswald", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 2.84;
  /* 37/13 */
  color: #000000;
  border-top: 2px solid #000000;
}

.fff {
  display: none;
  font-size: 16px;
  width: 200px;
  height: 200px;
  background-color: #EB5757;
}

.fff._active {
  display: block;
}

.ddd {
  font-size: 16px;
  width: 12.5em;
  height: 12.5em;
  background-color: blue;
}
