@use "sass:math";



$mainColor:#3f3f3f;
$blackColor:#000000;
$redColor:#EB5757;
$Oswald: "Oswald",sans-serif;

@import "_icons.scss";
@import "_reset.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_commons.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600display=swap");



.wrapper {

   overflow: clip;
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}
.wrapper main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 121.875rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 1.5625rem;
   line-height: 1.48; /* 37/25 */
   background-color: #ffffff;
   &._lock{
      overflow: hidden;
   }
}


.page {
   padding: 0 1.3125rem;

   &__container {
   }

   &__section00 {
      position: relative;
      z-index: 1;

&_margin{
   margin-top:7rem;
      &:not(:last-child) {
     
margin-bottom: 2rem;
}
}
   
   }
 
   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
      grid-template-rows: 1fr;
      grid-auto-rows: 1fr;
      padding: 1.875rem 0.6875rem;
      gap: 2.1875rem;
      border: 2px solid #c4c4c4;
      //background-color: #EB5757;
      //font-size: 0;
      @media (max-width: 112.5em) {
         gap: 1.5625rem;
      }
      @media (max-width: 100em) {
         gap: 0.9375rem;
      }
       
   }
}
.section00 {
   position: relative;
   &__title {
      font-family: $Oswald;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.83; /* 68/24 */
      color: #000000;
      text-transform: uppercase;
      min-width: 23rem;
      min-height: auto;
      position: absolute;
      left: 40.5%;
      top: -0.9375rem;
      background-color: #ffffff;
      z-index: 2;
      text-align: center;
      animation: translate8 1.4s ease forwards 1.4s;
      transform: translate(0, -300%);
      //background-color: aqua;

      @media (max-width: 72.6875em) {
         left: 30%;
      }
      @media (max-width: 55.3125em) {
         left: 20%;
      }
      @media (max-width: 40em) {
         left: 10%;
         font-size:1.25rem;
         min-width: 18.75rem;
      }
    
      @media (max-width:28.625em) {
         left: 7%;
         font-size: 1.25rem;
         min-width: 12.5rem;
      }
   }
}


.list {
   &__item {
      position: relative;
      //width: 235px;
      height:8.8125rem;
      //border: 1px solid;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      //!!!!!!!Вирівняти діор і фенді!!!!!!!!!
      @media (max-width: 90.625em) {
         height: 7.5rem;
      }
      @media (max-width: 53.9375em) {
         height: 5rem;
      }
      &:nth-child(1) {
         transform: translate(-150%, 0px);
         animation: translate1 0.2s ease forwards;
         animation-delay: 0s;
      }
      &:nth-child(2) {
         transform: translate(-260%, 0px);
         animation: translate2 0.2s ease forwards;
         animation-delay: 0.2s;
      }
      &:nth-child(3) {
         
         transform: translate(-370%, 0px);
         animation: translate3 0.2s ease forwards;
         animation-delay: 0.4s;
      }
      &:nth-child(4) {
         transform: translate(-480%, 0px);
         animation: translate4 0.2s ease forwards;
         animation-delay: 0.6s;
      }
      &:nth-child(5) {
         transform: translate(-590%, 0px);
         animation: translate5 0.2s ease forwards;
         animation-delay: 0.8s;
      }
      &:nth-child(6) {
         transform: translate(-700%, 0px);
         animation: translate6 0.2s ease forwards;
         animation-delay: 1s;
      }
      &:nth-child(7) {
         transform: translate(-810%, 0px);

         animation: translate7 0.2s ease forwards;
         animation-delay: 1.2s;
      }
      &:hover {
         background-color: #f0f2f2;
      }
      &.active{
         background-color: #f0f2f2;
      }
   }
}

@keyframes translate1 {
   0% {
      transform: translate(-150%, 0px);
   }
   100% {
      transform: translate(-0, 0px);
   }
}

@keyframes translate2 {
   0% {
      transform: translate(-260%, 0px);
   }
   100% {
      transform: translate(-0, 0px);
   }
}
@keyframes translate3 {
   0% {
      transform: translate(-370%, 0px);
   }
   100% {
      transform: translate(-0,-5px);
   }
}
@keyframes translate4 {
   0% {
      transform: translate(-480%, 0px);
   }
   100% {
      transform: translate(-0, 0px);
   }
}
@keyframes translate5 {
   0% {
      transform: translate(-590%, 0px);
   }
   100% {
      transform: translate(-0, 0px);
   }
}
@keyframes translate6 {
   0% {
      transform: translate(-700%, 0px);
   }
   100% {
      transform: translate(-0, 0px);
   }
}
@keyframes translate7 {
   0% {
      transform: translate(-810%, 0px);
   }
   100% {
      transform: translate(-0, 0px) ;
   }
}
@keyframes translate8 {
   0% {
      transform: translate(-0, -300%);
   }
   100% {
      transform: translate(0px, 0px);
   }
}

.section00 {
   &__empty-space {
      position: relative;
      height: 1.25rem;
   }
}
//!!!!!!!!!! section zero !!!!


.page {

   &__section-zero {
   }
}
.section-zero {

   &_margin {
      &:not(:last-child) {
              margin-bottom: 2rem;
         }
   }

   &__container {
   }

   &__body {
display: grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: 1fr;
gap: 1.625rem;

@media (max-width:54.125em){
 gap: 1rem;
}
@media (max-width:35.625em){
   grid-template-columns: repeat(2,1fr);
 
   }
    }
    


   &__box {
 
   }

   &__pic {
      position: relative;
overflow: hidden;
padding-bottom: 130.8%;
background-color: rgb(0, 0, 0);
   }

   &__img {
   
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
//
      &_01 {
         //z-index: 3;
         visibility: visible;
         opacity: 1;
         animation: opacity01 15s infinite;
        
      }

      &_02 {
         //z-index: 2;
opacity: 1;
visibility: hidden;
animation: opacity01 15s infinite 5s;
      }

      &_03 {
         //z-index: 1;
         opacity: 1;
         visibility: hidden;
         animation: opacity01 15s infinite 10s;
      }
   }
}

@keyframes opacity01{

   0%{
      opacity:0;
      visibility:hidden;
    }
   8%{
   opacity: 1;
   visibility: visible;
 }

25%{
   opacity:1;
   visibility: visible;
 }
 33%{
   opacity: 0;
   visibility: hidden;
 }
   100%{
      opacity: 0; 
      visibility: hidden;
   }
}

@keyframes opacity02{
   0%{
      opacity: 1;
      visibility: visible;
    }
   
   30%{
      opacity:1;
      visibility: visible;
    }
    33%{
      opacity: 0;
      visibility: hidden;
    }
      100%{
         opacity: 0; 
         visibility: hidden;
      }
  }

  @keyframes opacity03{
   0%{
      opacity: 1;
      visibility: visible;
    }
   
   30%{
      opacity:1;
      visibility: visible;
    }
    33%{
      opacity: 0;
      visibility: hidden;
    }
      100%{
         opacity: 0; 
         visibility: hidden;
      }
  }




////!!!!!!!!!!!!!!!!!!!!!  ПЕРША СЕКЦІЯ    !!!!!!!!!!!!!!!!!!!


.page {

   &__section01 {
   
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows:auto auto;
      grid-auto-rows: 1fr;
      gap: 1.875rem;
      @media (max-width:74.5em){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
      }
      @media (max-width:46.5625em){
         grid-template-rows: repeat(3,auto);
      row-gap:1.5625rem;
      padding-bottom:1.125rem;
     
       }
   }
}
.section01 {

   &_margin {
    
      &:not(:last-child){
         margin-bottom: 1.875rem;
         @media (max-width:31.25em){
       margin-bottom: 0.625rem;
                       }
      }
   }

   &__block {

   }
}
.block {
   opacity: 0;
   transform: translate(0,5rem);
position: relative;
//z-index: 10;
width: 100%;
min-height:27.125rem;
transition: transform 1s;
&._show{
   opacity: 1;
   transform: translate(0,0);
}
@media (max-width:39.1875em){
 
   //min-height:334px;
 }
&:nth-child(1){
  background-color: #F3F0EF;
}
&:nth-child(2){
   background-color: #E0DED3;
   grid-row: span 2;
   @media (max-width:46.5625em){
grid-row: span 1;
  
    }
}
&:nth-child(3){
  background-color: #F7E0D5;
}
   &__back {

      @media (max-width:39.1875em){
      //   display: flex;
      // flex-direction: column;
           
      //      gap: 20px;
    
      }
     
      }

   
&__pic{
   
   z-index: 0;
   //overflow: hidden;
   height: 100%;
   @media (max-width:39.1875em){
   z-index: 1;
   position: relative;
   }
  
   img{
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
          width: 100%;
   height: 100%;
      object-fit: cover;
        
      @media (max-width:39.1875em){
         position: relative;
         opacity: 0.5;
            }
      
   }
   &_01{
 
   //width: 448px;
   width: 48.48%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   aspect-ratio:448 / 434 ;
   
   @media (max-width:39.1875em){
      width: 100%;
   
      z-index: 0;
         
            }
// padding-bottom: 45%;
&::after{
   content:"";
   position: absolute;
   top:0;
   right: 0;
   height: 100%;
   width: 20%;
   background:linear-gradient(90deg,rgba(241, 239, 240, 0) 0%, rgba(241, 240, 240, 0) 11%, rgba(241, 240, 240, 0) 31%, rgba(243, 240, 239, 1) 100%);
   z-index: 1;
  
}
  

   }
   &_02{
      position: absolute;
      top: 0;
      right:  0;
      //padding-bottom: 93.4%;
      aspect-ratio: 839 / 898;
      height: 100%;
//width: 839px;
width: 90.8%;
@media (max-width:39.1875em){
   width: 100%;
   z-index: 0;
      
         }
&::after{
   content:"";
   position: absolute;
   top:0;
   left:  0;
   height: 100%;
   width: 20%;
   background: linear-gradient(90deg,rgba(224, 222, 211, 1) 0%, rgba(224, 221, 213, 0) 17%,rgba(224, 221, 213, 0) 27%, rgba(224, 221, 213, 0) 100%);
}
      img{
        @media (max-width:46.5625em){
         object-position: top;
        }
         
        }
   }
   &_03{
   position: absolute;
top: 0;
  right: 0;
      //width: 557px;
    width: 60.28%;
    height: 100%;
      //padding-bottom: 45%;
      aspect-ratio: 557 / 434;
      @media (max-width:39.1875em){
         width: 100%;
         z-index: 0;
            
               }
      &::after{
         content:"";
         position: absolute;
         top:0;
         left: 0;
         height: 100%;
         width: 20%;
         background: linear-gradient(90deg,rgba(247, 224, 213, 1) 0%, rgba(243, 220, 210, 0) 50%, rgba(243, 220, 210, 0) 54%, rgba(243, 220, 210, 0) 100%);
         z-index: 1;
      }
     img{
   
     }
   }
}
   &__body {
  
      max-width: 23.75rem;
            z-index: 1;
      padding-right: 0.625rem;
      @media (max-width:39.1875em){
         position: relative;
         
            }
&_01{
   position: absolute;
   top:  5.125rem;
   left: 53.13%;
 
}
&_02{
   //padding-top: 430px;
  
  position: absolute;
  top: 47.88%;
   left:9.3%; 
      @media (max-width:105.6875em){
      //top:580px;
      left:3%;
       } 

   @media (max-width:46.5625em){
top:10%;
left: 8%;
     }
   
}
&_03{
   position: absolute;
   top: 7.1875rem;
   left: 10.17%;
   @media (max-width:95.5em){
      top:3.75rem;
      left:7.5%;
   }  
   @media (max-width:87.9375em){
      top:2.5rem;
      max-width: 15.625rem;

   }
   @media (max-width:74.5em){
      top:2.5rem;
      max-width: 310px;
  

   }
 
 
}
@media (max-width:39.1875em){
position: absolute;
top:40%;
left: 10%;
max-width: 19.375rem;
         }
   }

   &__title {
      font-family: $Oswald;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.29; /* 62/48 */
      color: $blackColor;
      text-transform: uppercase;
      @media (max-width:46.5625em){
       font-size: 2.25rem;
      }
      &_big{
         font-size: 6rem;
         line-height: 1.15; /* 110/96 */
         color: #131313;
         z-index: 20;
         @media (max-width:46.5625em){
            font-size: 2.625rem;
         }
         //@media (max-width:745px){
         //   font-size: 42px;
         //}
      }
      &:not(:last-child){
         margin-bottom: 0.6875rem;
      }
   }

   &__sub-title {
      font-weight: 400;
      font-size:1.375rem;
      line-height: 1.68; /* 37/22 */
      @media (max-width:46.5625em){
         font-size: 1.125rem;
      }
      &:not(:last-child){
         margin-bottom: 2.9375rem;
         @media (max-width:105.6875em){
         margin-bottom: 1.25rem;
         }
      }
   }

   &__button {
      position: relative;
      font-family: "Oswald", sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.29;
      color: #000;
      text-transform: uppercase;
      min-width: 10.9375rem;
      min-height:3.5rem;
      border: 2px solid;
      transition: all 0.3s;
      &:hover{
         background-color: black;
         color: #FFFFFF;
      }
      &:not(:last-child){
         margin-bottom: 0.625rem;
      }
   }

   &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0.875rem;
   }
}

//   //!!!!!!!!! ДРУГА СЕКЦІЯ!!!!!!!!

   .page {

		&__section02 {
         display: flex;
         //flex-wrap: wrap;
         column-gap: 1.875rem;
         @media (max-width:54.125em){
            column-gap: 1.125rem;
         }
         @media (max-width:31.25em){
            flex-direction: column;
          
                 }

		}
}
.section02 {
&_margin{
   &:not(:last-child){
      margin-bottom: 1.5rem;
   }
}
   &__left-side {
         padding-top: 1.125rem;
         padding-right: 0.625rem;
         //display: flex;
         //flex-direction: column;
         flex: 0 1 24.625rem;
                 //background-color: aqua;
        border-right: 1px solid #C4C4C4;
        opacity: 0;
        transform: translate(0,5rem);
   
     transition: transform 1s;
     &._show{
        opacity: 1;
        transform: translate(0,0);
     }
        @media (max-width:31.25em){
padding-top:0 ;
       border-right: none;
           }
		}

		
}
.left-side {
}
.form {
display: flex;
flex-direction: column;
		&__title {
         font-family:$Oswald ;
         font-size: 1.5rem;
         font-weight: 400;
         line-height: 2.83; /* 68/24 */
         color: #000000;
         &:not(:last-child){
            margin-bottom: 1.875rem;
         }
         @media (max-width:54.125em){
            font-size:1.25rem;
            line-height: 1.5;
            &:not(:last-child){
               margin-bottom:0.625rem;
            }
         }
		}
&__body{
   display: flex;
flex-direction: column;
gap: 1.25rem;
@media (max-width:54.125em){
   gap: 0.625rem;
}
@media (max-width:31.25em){
   //flex-direction: row;
   //flex-wrap: wrap;
   row-gap: 1.25rem;
   column-gap: 1.875rem;

      }
}
		&__line {
         position: relative;
		}

		&__input {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
opacity: 0;

			&_checkbox {
			}
		}

		&__label {
         font-family: "Roboto",sans-serif;
         font-size: 0.875rem;
         font-weight: 400;
         line-height: 2.83;
         color: #3F3F3F;
         text-transform: uppercase;
         @media (max-width:54.125em){
            line-height: 1.5;
            font-size: 0.75rem;
         }
			&_checkbox {
			}
		}
}

.form__input:focus-visible + .form__label{
outline: 1px solid black;
border-radius: 5px;
}


.form__input:checked + .form__label{
   color:  black;
   }

   .form__input:checked + .form__label::before{
      //border: 1px solid black;
      background: #000000 url("../img/icons/Vector\ 2.svg") center no-repeat;

      }


.form__label{
   cursor: pointer;
   display: inline-flex;
   align-items: flex-start;
   gap: 0.3125rem;
   margin-left:1.125rem;
}

.form__label::before{
   content: "";
   position: absolute;
   top:1.0625rem;
   left: 0;
   width: 0.625rem;
   height: 0.625rem;
   border:1px solid #3F3F3F;
   z-index: 10;

}


.section02 {

   &__right-side {
      display:flex;
      flex-direction: column;
  flex:0 1 93.4375rem;
   }
}
.right-side {
   opacity: 0;
   transform: translate(0,5rem);

transition: transform 1s;
&._show{
   opacity: 1;
   transform: translate(0,0);
}
   &__cards{
      display: grid;
        grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2, auto);
      grid-auto-rows: 1fr;
      row-gap: 3rem;
      column-gap:1.625rem;
      @media (max-width:54.125em){
         grid-template-columns: repeat(2,1fr);
         row-gap: 1.5rem;
         column-gap: 1.125rem;
      }
      @media (max-width:27.25em){
         grid-template-columns: 1fr;
         row-gap: 0.875rem;
        
      }
   }
}



.card {
//border: 2px solid black;
opacity: 0;
transform: translate(0,5rem);

transition: transform 1s;
&._show{
opacity: 1;
transform: translate(0,0);
}
   &__pic {
      position: relative;
      overflow: hidden;
      padding-bottom: 130.8%;
      &:not(:last-child){
         margin-bottom: 0.875rem;
      }
   }
&__img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
      transition: all 0.3s;
    transform: scale(1.015);
    &:hover{
      transform: scale(1.2);
      transition: all 1s;
   }
}
   &__body {
   }

   &__category {
      font-family:$Oswald;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.25;
      color: #BDBDBD;
      text-transform: uppercase;
   }

   &__text {
      font-family:$Oswald;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.25;
      color: $blackColor;
      transition: all 0.3s;
      &:hover{
         text-decoration: underline;
      }
      &:not(:last-child){
         margin-bottom:1.125rem;
      }
      @media (max-width:27.25em){
       
         &:not(:last-child){
            margin-bottom: 0.3125rem;
         }
      }
   }

   &__price {
     display: flex;
     gap: 0.875rem;
     align-items: center;
      font-family:$Oswald;
          line-height: 1.25;
      color: $blackColor;
      text-transform: uppercase;
      @media (max-width:66.8125em){
         flex-direction: column;
         align-items: flex-start;
         gap: 0.625rem;
            }
            @media (max-width:54.125em){
               flex-direction: row;
               gap: 0.875rem;
               align-items: center;
            }
      &:not(:last-child){
         margin-bottom: 0.625rem;
      }
      .new-price{
         font-size: 1.375rem;
         font-weight: 500;
        
         color: $blackColor;
         text-transform: uppercase;
         &_red{
            color: #EB5757;
         }

      }
      .old-price{
        
         font-size: 0.875rem;
         font-weight: 400;
        text-decoration: line-through ;
color: #828282;
      }
   }
}

.right-side {

   &__button {
      display: flex;
      min-height: 9.5rem;
      justify-content: center;
      align-items: center;
      @media(max-width:61.75em){
         min-height: 6.25rem;
      }
      @media(max-width:28.75em){
         min-height: 5rem;
      }
   }
}
.button {
   position: relative;
   font-family: $Oswald;
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 1.29;
   color: #828282;
   text-transform: uppercase;
   min-width: 8.75rem;
   min-height:3.125rem;
   border: 2px solid;
   transition:all 0.3s ;
 
   &:hover{
      background-color:  rgb(175, 164, 160);
      color: #000;
   }
   &__link {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    text-align: center;
    padding: 0.875rem;
   }
}


//!!!!!!!!! ТРЕТЯ СЕКЦІЯ !!!!!!!

.page {

   &__section03 {
      //border: 2px solid black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
justify-content: flex-end;
//align-items: flex-start;
height: 467px;
opacity: 0;
transform: translate(0,5rem);

transition: transform 1s;
&._show{
opacity: 1;
transform: translate(0,0);
}
     @media (max-width:35.5em){
   justify-content: flex-start;
   height: auto;
   }
  
   }
 
}
.section03 {
   z-index: 1;


 background-color: rgb(221, 235, 241);
   &_margin {
      &:not(:last-child){
         margin-bottom: 4.1875rem;
      }
      @media (max-width:42.1875em){
         &:not(:last-child){
            margin-bottom: 1.875rem;
         }
             }
   }
   &__pic{
      z-index: 0;
      position: relative;
      overflow: hidden;
      //padding-bottom: 34%;
      aspect-ratio: 1210 / 457 ;
      
      flex: 0 1 63.02%;
      &::before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width:100%;
         height: 100%;
         background:linear-gradient(90deg,rgba(221, 235, 241, 1) 0%, rgba(211, 229, 238,1) 43%, rgba(200, 222, 236, 0.8) 69%, rgba(255, 255, 255, 0) 100%) ;
      }
      @media (max-width:76.0625em){
         flex: 0 1 100%;
      }
      @media (max-width:33.625em){
       display: none;
      }
      &__img{
      
         position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            object-fit: contain;
        
      }
   }



   &__body {
      z-index: 2;
      position:absolute;
  
      top:20.51% ;
      left: 13.58%;
      //left: 269px;
      max-width: 39.9375rem;
      @media (max-width:76.0625em){
         left:8%;
      }
      @media (max-width:52em){
       max-width:28.125rem ;
      }
      @media (max-width:40.25em){
         max-width: 25rem;
            }
            @media (max-width:35.5em){
                        max-width:21.25rem;
          position: relative;
          padding: 1.25rem 0.625rem ;
          width: 80%;
                    }
                   
  
   }

   &__decor {
      position: absolute;
      top:-1.25rem;
      left: 2.3125rem;
      width: 37.625rem;
      height: 6.28125rem;
      border-right: 2px solid $blackColor;
      border-top: 2px solid $blackColor;
      @media (max-width:52em){
      width: 28.75rem;
      }
      @media (max-width:40.25em){
        width: 25rem;
        height:4.375rem;
           }
           @media (max-width:35.5em){
       display: none;
                    }
                    @media (max-width:29.25em){
               // width:270px;
                    }
                    @media (max-width:22.6875em){
                     //width:200px;
                         }
   }


   &__title {
    
          font-family: $Oswald;
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 1.28; /* 72/56 */
      text-transform: uppercase;
      color: $blackColor;
      
      &:not(:last-child){
         margin-bottom: 1.0625rem;
      }
      @media (max-width:52em){
       font-size: 2.25rem;
      }
      @media (max-width:28.125em){
       font-size:1.75rem ;
         }
         @media (max-width:25em){
            font-size:1.5rem;
                    }
                  
   }

   &__text {
 font-size: 1.5625rem;
 font-weight: 400;
 line-height: 1.48; /* 37/25 */
 color: $blackColor;

 &:not(:last-child){
   margin-bottom: 1.5rem
}
@media (max-width:28.125em){
font-size: 1.125rem;
}
@media (max-width: 25em){
   font-size:1rem ;
     }
   }


   &__button {
      @extend .block__button;
   }

}

.sectio03 {

   &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding:0.875rem;
   }

}

//!!!!!! СЕКЦІЯ ЧОТИРИ!!!!!!!


.page {

   &__section04 {
   }
}
.section04 {

   &_margin {
      &:not(:last-child){
         margin-bottom: 7.4375rem;
         @media (max-width:73.5em){
            margin-bottom: 4.375rem;
         }
         @media (max-width:29.25em){
            margin-bottom:2.1875rem;
         }
      }
    
   }

   &__header {
      display: flex;
    
      justify-content: space-between;
      align-items: center;
      max-height: 2.5rem;
    
    
      text-transform:capitalize ;
      opacity: 0;
      transform: translate(0,5rem);
 
   transition: transform 1s;
   &._show{
      opacity: 1;
      transform: translate(0,0);
   }
      &:not(:last-child){
         margin-bottom: 1.625rem;
      }
   }

   &__category {
      font-family:$Oswald ;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.83; /* 68/24 */
      color: $blackColor;
      //@extend .form__title;
      //margin-bottom: 0px;
   }

   &__buttons {
      width:5.25rem;
      display: flex;
      justify-content: space-between;
    
   }

   &__button {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border: 2px solid #C4C4C4;
      background: url("../img/icons/Vector.svg" ) center no-repeat;
     transition: all 0.3s;
     &:hover{
      background-color: rgba(130, 130, 130, 0.459);
     }
      &_right {
         transform: rotate(180deg);
      }
      a{
         position: absolute;
         top: 0;
         left: 0;
         width: 2.25rem;
         height: 2.25rem;
      }
   }
}


.sectio04 {

   &__body {

      display: grid;
           grid-template-columns: repeat(auto-fit,minmax(12.5rem,1fr));
    
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
        gap: 1.325rem;
      
        opacity: 0;
        transform: translate(0,5rem);
   
     transition: transform 1s;
     &._show{
        opacity: 1;
        transform: translate(0,0);
     }
        &:not(:last-child){
         margin-bottom: 4.25rem;
           }
           @media(max-width:73.4375em){
            &:not(:last-child){
         margin-bottom: 2.375rem;
           }
          
     }

   }
}

//!!!!!! П'ЯТА СЕКЦІЯ  !!!!!!

.page {

   &__section05 {
      display: flex;
    flex-wrap: wrap;
   gap: 2.5rem;
   justify-content: space-between;
   opacity: 0;
   transform: translate(0,5rem);

transition: transform 1s;
&._show{
   opacity: 1;
   transform: translate(0,0);
}
   @media(max-width:107.75em){
    justify-content: flex-start;
   }
   @media(max-width:91.875em){
    flex-direction: column-reverse;
    margin-bottom: 2.5rem;
     }
     @media(max-width:37.9375em){
    gap: 1.25rem;
    margin-bottom: 1.25rem;
        }
            }
   }

.section05 {

   &_margin {
      //margin-bottom: 82px;
      &:not(:last-child){
         margin-bottom: 5.125rem;
      }
   }
   &__img {
         position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
       object-fit:cover;
      object-position: center;
      }
   &__pic {
      flex: 0 0 55.21%;
      position: relative;
      overflow: hidden;
     padding-bottom:34.25% ;
  
        }

  

   &__body {
      flex: 0 0 37.6%;
      position: relative;
      padding-top: 1rem;
      padding-right: 1.25rem;
    }

   &__title {
      @extend .section03__title;
      &:not(:last-child){
         margin-bottom:2.125rem;
      }
      @media(max-width:107.75em){
         font-size: 3rem;
      }
      @media(max-width:37.9375em){
      //border-top:2px solid $MainColor ;
      padding-top: 1rem;
      font-size: 2.125rem;
      &:not(:last-child){
         margin-bottom: 0.875rem;
      }
          }
          @media(max-width:30.125em){
            font-size:1.75rem;
         }
         
   }

   &__text {
      @extend .section03__text;
      @media(max-width:37.9375em){
              font-size: 1.25rem;
             }
             @media(max-width:37.9375em){
             &:not(:last-child){
                  margin-bottom: 0.625rem;
               }
                   }
   }

   &__button {
      @extend .block__button;
  
   }

   &__decor {
      position: absolute;
      top: 0px;
      left:0.875rem;
      width:39.125rem;
      height: 7.15625rem;
      border-right:2px solid $blackColor;
      border-top: 2px solid $blackColor;
      
      @media(max-width:107.75em){
       width: 33.5rem;
       height: 6.28125rem;
      }
      @media(max-width:37.9375em){
       width:90%;
       height: 0;
        }
   }
}
.sectio05 {

   &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0.875rem;
   }
}

//!!!! FOOTER   !!!!
.page {

   &__footer {
   padding-top: 2.875rem;
   padding-bottom:2.875rem;
   background-color: #F8F9FB;
   @media(max-width:59.9375em){
      padding-top: 1rem;
   }
   @media(max-width:41.875em){
      padding-top: 0.625rem;
   }
   }
}
.footer {
   opacity: 0;
   transform: translate(0,5rem);

transition: transform 1s;
&._show{
   opacity: 1;
   transform: translate(0,0);
}
   &__boxes{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
      grid-template-rows: auto;
      grid-auto-rows: 1fr;
       gap:1.875rem;
   }
&__category{
   @extend .section04__category;
   &:not(:last-child){
      margin-bottom: 1.875rem;
   }
   @media(max-width:59.9375em){
      &:not(:last-child){
         margin-bottom:0.9375rem;
      }
             }
     
             @media(max-width:41.875em){
               &:not(:last-child){
                  margin-bottom:0.625rem;
               }
                      }
}
   &__box {
      display: flex;
      flex-direction: column;
      min-height: 27.9375rem;
      padding: 1.5rem 1.5rem 0.4375rem 1.5rem;
  background-color: #FFFFFF;
  @media(max-width:37.625em){
 min-height: auto;
     }
   }
}
.box {

   &__category {
      font-family: $Oswald;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5;
      color: #BDBDBD;
      text-transform: uppercase;
      transition: all 0.3s;
      &:hover{
         text-decoration: underline;
      }
      &:not(:last-child){
         margin-bottom:1.3125rem;
      }
      @media(max-width:59.9375em){
                 }
          &:not(:last-child){
           margin-bottom:1rem;
        }

   }

   &__title {
     font-family: $Oswald;
     font-size: 1.625rem;
     font-weight: 400;
     line-height: 1.5;
     color: $blackColor;
     text-transform: capitalize;
     transition: all 0.3s;
      &:hover{
         text-decoration: underline;
      }
     &:not(:last-child){
      margin-bottom:2rem;
   }
   @media(max-width:59.9375em){
    font-size: 1.25rem;
    &:not(:last-child){
      margin-bottom:1.25rem;
   }
     }
    
   @media(max-width:37.625em){
      font-size: 1.625rem;
       }
       @media(max-width:25.3125em){
         font-size: 1.25rem;
          }
     }
   
   

   &__text {
      font-size: 1rem;
      line-height: 1.5; /* 24/16 */
      color: $blackColor;
      flex-grow: 1;
      &:not(:last-child){
         margin-bottom: 1.25rem;
      }
     
   }

   &__date {
      padding-top: 0.75rem;
      font-family: $Oswald;
     font-size: 0.8125rem;
     font-weight: 300;
     line-height: 2.84; /* 37/13 */
     color: $blackColor; 
     border-top: 2px solid $blackColor;
   }
}




//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.fff{
   display: none;
   font-size: 16px;
width: 200px;
height: 200px;
background-color: #EB5757;
&._active{
   display:block
}
}
.ddd{
   font-size: 16px;
   width:em(200);
   height:em(200);
   background-color: blue;
}
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
