@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");


h2{
font-family: "Poppins", "Arial", sans-serif;
font-size: 25px ;
font-style: normal ;
font-weight: 700 ;
line-height: 40px ;
}

.text{
font-family: "Poppins", "Arial", sans-serif;
font-size: 14px ;
font-style: normal ;
font-weight: 300 ;
line-height: 25px ;
max-width: 816px;
margin-bottom: 80px;
}

.r{
max-width: 816px;
margin: 0 auto;
}

.title1{
max-width:400px;
margin-bottom: 16px;
}


.title2{
max-width: 605px;
margin-bottom: 40px;
}


img.dezert{
display: block;
max-width: 100%;
margin: 0 auto;
margin-bottom: 80px;
}

.pictures{
font-size: 0;
max-width: 1240px;
margin: 0 auto;
margin-bottom: 80px;
}

.lake{
padding-right: 15px;
max-width: 50%;
}
.girl{
padding-left: 15px;
max-width: 50%;
}
/* Я не знав як по-іншому задати відступи між параграфами. Ну так як у макеті я не побачив padding-bottom після останніх параграфів, то скористався варіантом нижче. */

p{
margin-bottom: 40px;
}

  /* Відпрацювання css-властивостей блоків */

.block,
.inline,
.inline-block
{
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
}

.title3,
.title4,
.all,
.list{
margin: 0 auto;
}

.title3{
max-width: 800px;
margin-bottom: 30px;
}

.all{
display: block;
font-size: 0;
margin-bottom: 50px;
max-width: 1220px;
}

.block{
display:inline-block;
background-color: blue;
max-width: 33%;
overflow: auto;
}

.inline{
display:inline-block;
background-color: green;
max-width:34%;
height: 500px;
overflow: auto;
vertical-align: top;
}


.inline-block{
background-color: red;
max-width: 33%;
}

.title4{
max-width: 300px;
margin-bottom: 50px;
}

.list{
font-size: 0;
max-width: 1220px;
}
.list-item{
display: inline-block;
font-size:50px;
width: 305px;
padding: 20px 40px;
}