@import url("reset.css");
@import url("commons.css");
/*@import url("https://fonts.googleapis.com/css?family=Inter:300,500,700&display=swap");*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

.wrapper {
overflow: clip;
min-height: 100%;
}

[class*="__container"]{
max-width: 1230px;
margin: 0 auto;
padding: 0 15px;
}

.page {
font-family:"Poppins", "Arial", sans-serif ;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
color: #9C9C9C;
padding-bottom: 30px;
}

.page_margin{
margin-bottom: 50px;
}
.page__header {
min-height: 120px;
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 26px;
}


.achievement {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
text-transform:uppercase;
color:#000000 ;
}
.decor {
border-top:2px solid #000000 ;
/*width: 464px;*/
flex: 0 0 38.666%;
height: 6px;
}
.page__main {
display: flex;
flex-direction: column;
flex-wrap: wrap;
row-gap: 32px;
align-items: flex-start;
}

.card {
display: flex;
align-items: center;
flex-wrap: wrap;


}

.card__picture {
overflow: hidden;
flex: 0 0 62.17%;
}

.card__picture img{
transition: transform 1s;
max-width: 100%;
}

.card__picture img:hover{
transform: scale(1.05);
}

.card__notice {
flex: 0 0 37.83%;
display: flex;
flex-direction: column;
row-gap: 20px;
padding-left: 120px;
}

.notice__title {
font-size: 24px;
font-weight: 600;
line-height: 1.4;
color: #333333;
}

.notice__title:hover{
text-decoration: underline;
}

/*другий макет*/

.project {
font-family:"Poppins", "Arial", sans-serif ;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
color: #9C9C9C;
padding-bottom: 30px;  
}
.project_margin {
margin-bottom: 50px;
}

.project__header {
display: flex;
flex-wrap: wrap;
flex-direction: column;
min-height: 311px;
align-items: center;
justify-content: center;
row-gap: 40px;
}



.header__title {
font-weight: 700;
font-size: 56px;
line-height: 1.4;
color: #000000;
}

.header__text {
max-width: 520px;
text-align: center;
}

.header__picture img{
 width: 100%;
   }



.project__block {
display: flex;
flex-wrap: wrap;
margin: 0 -16px;
padding-top: 100px;
padding-bottom: 81px;
}


.column-wrapper {
padding: 0 16px;
flex: 0 0 50%;
display: flex;
flex-direction: column;
row-gap: 24px;
}

.block__text_flex{
flex: 1 1 auto;
}

.block__main {
}

.block__title {
font-weight: 600;
font-size: 24px;
line-height: 1.4;
color: #333333;
}

.block__text p:not(:last-child){
margin-bottom: 30px;
}



.footer__block {
display: flex;
flex-wrap: wrap;
column-gap: 80px;
row-gap: 15px;
}



.pictures{
display: flex;
flex-wrap: wrap;
row-gap: 32px;
margin: 0 -16px;
}
.pictures__wrapper{
padding: 0 16px;
flex: 0 0 50%;
}



.pictures__wrapper img{
   max-width: 100%;
}

.pictures__wrapper:nth-child(3){
flex: 0 0 100%;
}
/* МЕДІА_ЗАПИТИ */
/* Перший макет */



@media (max-width:1219px){
   .card__notice {
   padding-left: 25px;
   
   }
   .card__picture{
  
   }
}

@media (max-width:872px){
   .page__header{
      gap:13px;
      min-height: 80px;
   }

   .page{
      padding-bottom: 10px;
   }
   .page_margin{
   margin-bottom: 10px;
   }
   
   .card__notice {
          flex: 0 0 48%;
   }
   .card__picture{
      flex: 0 0 52%;
      
   }
   
}


@media (max-width:720px){
   .page{
      font-size: 16px;
   }
   
   .card__notice {
          flex: 0 0 52%;
          row-gap: 5px;
   }
   .card__picture{
      flex: 0 0 48%;
      
   }
   
}
   

@media (max-width:642px){
   .page__header{
      gap:10px;
      min-height: 60px;
   }
   .card__notice {
          flex: 0 0 60%;
   }
   .card__picture{
      flex: 0 0 40%;
      
   }
   
}

@media (max-width:560px){
   .page{
      font-size: 14px;
   }
   .notice__title{
   font-size: 18px;
   }
   .card__notice {
          flex: 0 0 60%;
   }
   .card__picture{
      flex: 0 0 40%;
      
   }
   
}
@media (max-width:500px){
.card__notice {
 flex: 0 0 100%;
padding: 0px;
   }
   .card__picture{
      flex: 0 0 100%;
      
   }
   
}

/* другий макет */
@media (max-width:872px){
   .project__header{
      row-gap: 20px;
      
   }
   .project__block_text {
      padding-top: 30px;
   }
   .project__block {
   padding-bottom: 50px;
      }
     
}

@media (max-width:642px){
   .header__title{
      font-size: 42px;
   }
   .column-wrapper{
      flex: 0 0 100%;
   }
   .project__block {
      padding-bottom: 30px;
         }

         .pictures{
            row-gap: 10px;
            margin: 0 -5px;
            }
            .pictures__wrapper{
            padding: 0 5px;
             }
            }

@media (max-width:500px){
   
   .project{
      font-size: 16px;
   }
   .project__header{
      row-gap: 10px;
   }
   .header__title{
      font-size: 32px;
   }
   .project__block_text {
      padding-top: 15px;
   }

   .column-wrapper{
      row-gap: 20px;
   }
   .block__text p:not(:last-child){
      margin-bottom: 15px;
      }
      .project__block {
         padding-bottom: 15px;
            }

}

