


.header {

   z-index: 20;
position: fixed;
top: 0;
left: 0;
width: 100%;

//transform: translate(0%,-300%);
//opacity: 0;
//animation: translate 0.5s ease  forwards;

&_margin{
   margin-bottom:1rem;
}
   &__contain {
      //z-index: 20;
      //position: fixed;
      //top: 0;
      //left: 0;
      //width: 100%;
      padding-top:3.8875rem ;
padding-bottom:0.8875rem;
      background-color: $blackColor;
      min-height:3.5rem ;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    display: grid;
    grid-template-columns:9rem 1fr ;
    align-items: center;
    @media(max-width:47.9375em){
      //grid-template-columns: 12.5rem 1fr;
    }
   }

   &__logo {
      z-index: 20;
   }

   &__nav-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.4375rem;
   }

   &__actions {
   }
}
.nav-search {

   &__menu {
   }


  
}


//@keyframes translate{
//   0%{
//      transform: translate(0%,-300%);
//      opacity: 0;
//   }
//   100%{
//      transform: translate(0,0%);
//      opacity: 1;
//   }
//}


.menu {
//!!!!!!!!!!!
   &__icon {
      display: none;
      @media(max-width:47.9375em){
         z-index: 5;
         display: block;
         position: relative;
         width: 1.875rem;
         height: 1.125rem;
         cursor: pointer;
        &._active {
span{
   transform: scale(0);
}
&::before{
   top:50%;
   transform: rotate(-45deg);
}
&::after{
   top:50%;
   transform: rotate(45deg);
}
        }
      }
   }

   &__body {

      @media (max-width: 47.9375em){
             position: fixed;
         top: 0;
         left:-100%;
         width: 100%;
         height: 100%;
         //background-color: #212529;
         background-color: hsla(210, 11%, 15%, 0.98);
                padding: 6.25rem 1.875rem 1.875rem 1.875rem;
         //transform: translate(-100%,0);
         transition: left 0.3s ease;
         overflow: auto;
 
   
         &._active{
          left: 0;
         }
         &::before{
            content: "";
            position: fixed;
            width: 100%;
           height: 3rem; //
            
            top: 0;
            left: 0;
            background-color: $blackColor;
   z-index: 10;
         }
      }
   }
//!!!!!!!!!!!
   &__list {
      display: flex;
row-gap:0.5rem;
column-gap:1rem;
flex-wrap: wrap;
@media (max-width: 47.9375em) {
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap:1rem;
   }
   //li{
   //   display: flex;
   //   align-items: center;
   //   flex-wrap: wrap;
     
   //}
   }
   &__item {
   
   @media (any-hover:hover){
      &:hover{
         .sub-menu{
            opacity: 1;
            visibility: visible;
            transform: translate(0rem,-1rem);
            pointer-events: auto;
          
         }
         
         .menu__link{
            &::after{
             
               width: 100%;

            }
         }
      }
   }
   }

   &__link {
      @extend %menu-link;
      display:inline-block;
      color: #ffffff;
      &_yellow{
         color: rgba(255, 255, 0, 0.89);
      }
      &_red{
         color: $redColor;
      }
      &:active{
         color: $redColor;
      }
   }

   &__sub {
      position: absolute;
top: 100%;
left: 0;
width: 100%;
padding-top: 1rem;
//transform: translate(0rem, 1.25rem);
opacity: 0;
visibility: hidden;
transition: all 0.3s;
pointer-events: none;

   }
}
.icon-menu {
 
}
.sub-menu {
  

   &__wrapper {
      box-shadow: 0.625rem 0.625rem 1.5rem rgba(0, 0, 0, 0.25);
      padding: 2.375rem 2.625rem;
      display: grid;
         grid-template-columns: repeat(4,1fr);
      column-gap: 6.25rem;
      row-gap: 1.25rem;
      position: relative;
      background-color: #ffffff;
      &_flex{
      display: flex;
      //flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;
         column-gap: 1rem;
         @media (max-width: 47.9375em){
         padding: 1rem;
         }
      }
      @media (max-width: 47.9375em){
        
         display: flex;
         flex-direction: column;
         width: 100%;
        
      }
   }

   &__column {
      position: relative;
      z-index: 5;
   }

   &__title {
      line-height: 1.5; /* 27/18 */
      letter-spacing: 0.03125rem;
      text-transform: uppercase;
      font-weight: 500;
      &::after{
         content: "";
         display: block;
         background-color: $blackColor;
         height: 0.125rem;
         width: 100%;
      }
      &:not(:last-child){
         margin-bottom: 1.125rem;
      }
   }

   &__list {
   }

   &__item {
      &:not(:last-child){
         margin-bottom: 0.625rem;
      }
     
   }

   &__link {
      font-size: 0.875rem;
      line-height: 1.43; /* 20/14 */
      transition: all 0.3s;
      @media (any-hover:hover){
         &:hover{
        text-decoration: underline;
            }
         }

   }

   &__image {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      @media (max-width: 47.9375em){
         display: none;
      }
      img{
         object-fit: contain;
         height: 100%;
      }
      &::after{
         content: "";
         position: absolute;
         top: 0;
        left:0;
         width: 20%;
         height: 100%;
         background: linear-gradient(90deg, #ffffff 0%, #ffffff 42%, rgba(255, 255, 255,0) 80% rgba(255, 255, 255, 0) 100%);


      }
   }
}

.button-search {
   display: flex;
   align-self: center;
   column-gap: 0.5rem;
   color: #ffffff;
  
   @extend %menu-link;
  
      &:active{
         color: $redColor;
      }
      &::before{
         width: 1rem;
         font-size: 1rem;
         height: 1rem;
         flex: 0 1 1rem;
     
 
         

      }
   }

   
.form{
//   width: 100%;
//display: flex;
//   justify-content: center;


}
.input{
   min-height: 3rem;
   width: 100%;
   border:1.5px solid $blackColor;
   border-radius: 3px;
   padding: 0.5rem;
   display: inline-block;
   
}
.button{
   &_red{
      width: 8rem;
      background-color: $redColor;
      border: 1.5px solid $blackColor;
      border-radius:3px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      display: inline-block;
      height: 3rem;
     
  &:hover{
   background-color:rgba(235, 87, 87, 0.6);
  }
       }
     
}





//!!!!burger
.menu__icon span,
.menu__icon::before,
.menu__icon::after{
   position: absolute;
   left:0;
 height: 10%;
 width: 100%;
 transition: all 0.3s ease;
 background-color: white;
}
.menu__icon::before,
.menu__icon::after{
   content: "";
}
.menu__icon::before{
   top:0;
}

.menu__icon::after{
  bottom: 0;
}
.menu__icon span{
   top: 50%;
   transform: scale(1) ;
}

//!!!!!

body{
   &._pc{
    .menu{
      &__item{
      
         @media(any-hover:hover){
            &:hover {
               .menu__sub {
                  visibility: visible;
                  opacity: 1;
                  display: block;
                  pointer-events: all;
                  @media (max-width: 47.9375em) {
                     position: relative;


}

               }
             
               }
            }
          }
          li{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
           
         }
    }
   }
&._touch{
   .menu{
      &__list{
         .menu{
            &__item{
               &._active{
                 .menu__sub{
                     visibility: visible;
                     opacity: 1;
                     display: block;
                     pointer-events: all;
                     //position: relative;
                     //width: 100%;
                     
                     @media (max-width: 47.9375em) {
                                               position: relative;
                     z-index: 5;
              
                     }

                  }
                  .menu__arrow{
                     transform: rotate(180deg);
                  }
               }
              
            }
         }
         li{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
           
         }
      
      }
      &__link{
         flex: 1 1 auto;
      }
      &__arrow{
         display: block;
width: 0;
height: 0;
margin-left: 0.3rem;
         border-left:0.3125rem solid transparent;
         border-right: 0.3125rem solid transparent;
         border-top: 0.625rem solid #fff;
         transition: transform 0.3s;
      }
   }
}
}

